button {
    box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.25);
}

.borderDepth {
    border-left: 3px solid #FFE4A1;
    border-bottom: 3px solid #FFE4A1;
    border-top: 3px solid #D68F54;
    border-right: 3px solid #D68F54;
}

.myTippyTheme {
    background-color: #FFCB8F;
    color: #3E1A00;
    font-family: 'VT323', monospace;
    font-size: 1.4rem;
    padding: 8px;
}

.myTippyTheme .tippy-arrow {
    color: #FFCB8F;
}