.MenuItem {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.MenuItem a {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.MenuItem a span {
  margin: 0;
  text-align: left;
}

.ps-submenu-root a span {
  text-align: left;
}

.css-ewdv3l{
  background-color: #6b3710;
  margin-bottom: 0;
}

#ps-submenu-content-test-id{
  background-color: #6b3710;
}
.css-18unl23{
  background-color: #6b3710;
}