@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
@import url('./hover.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #DDA059;
  --secondary-color: #3E1A00;
  --tertiary-color: #F8B971;
  --quarternary-color: #B45105;
  --quinteral-color: #BF823C;
  --alt-color: #6B3710;
  --alt-color-2: #FFC376;
  --alt-color-3: #D87B26;
  --alt-color-4: #FFCB8F;
  --alt-color-5: #3E1900;
  --alt-color-6: #f8b55e;
  --main-black-color: #121212; 
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-pixel {
  font-family: 'VT323', monospace;
}

.main-color-bg {
  background-color: var(--main-color);
}

.secondary-color-bg {
  background-color: var(--secondary-color);
}

.tertiary-color-bg {
  background-color: var(--tertiary-color);
}

.quarternary-color-bg {
  background-color: var(--quarternary-color);
}

.quinteral-color-bg {
  background-color: var(--quinteral-color);
}

.main-black-color-bg {
  background-color: var(--main-black-color);
}

.alt-color-bg {
  background-color: var(--alt-color);
}

.alt-color-2-bg {
  background-color: var(--alt-color-2);
}

.alt-color-3-bg {
  background-color: var(--alt-color-3);
}

.alt-color-4-bg {
  background-color: var(--alt-color-4);
}

.alt-color-5-bg {
  background-color: var(--alt-color-5);
}

.alt-color-6-bg {
  background-color: var(--alt-color-6);
}

.main-color {
  color: var(--main-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.tertiary-color {
  color: var(--tertiary-color);
}

.quarternary-color {
  color: var(--quarternary-color);
}

.quinteral-color {
  color: var(--quinteral-color);
}

.main-black-color {
  color: var(--main-black-color);
}

.alt-color {
  color: var(--alt-color);
}

.alt-color-2 {
  color: var(--alt-color-2);
}

.alt-color-3 {
  color: var(--alt-color-3);
}

.alt-color-4 {
  color: var(--alt-color-4);
}

.alt-color-5 {
  color: var(--alt-color-5);
}

.alt-color-6 {
  color: var(--alt-color-6);
}